[submodule "bsp"]
	path = submodule/esp-mosaico-bsp
	url = git@github.com:esp-mosaico/esp-mosaico-bsp.git
[submodule "submodule/esp-iris"]
	path = submodule/esp-iris
	url = https://github.com/lisir233/ESP-Iris.git
[submodule "submodule/esp-gsp"]
	path = submodule/esp-gsp
	url = https://github.com/espressif/esp-gsp.git
[submodule "submodule/micropixel"]
	path = submodule/micropixel
	url = https://github.com/78/micropixel.git
